<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Videos</key>
	<array>
		<string>ZdoWeY1gCG0</string>
		<string>yHXjv15KRV4</string>
		<string>RUaHYW1j8Mk</string>
		<string>6vyOJmSriaY</string>
		<string>0k0lMqbnj8c</string>
		<string>IeAype_Mhxg</string>
		<string>sKLnoFrSVB4</string>
		<string>ZdoWeY1gCG0</string>
	</array>
</dict>
</plist>
